[Unit]
Description=Fix MacBook Pro NVMe Sleep
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 0 > /sys/class/nvme/nvme0/device/d3cold_allowed'

[Install]
WantedBy=multi-user.target
